<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.dao.UserDaoTest">
    <insert id="addUser" parameterType="user">
        insert into t_user(uname,upwd) values(#{uname},#{upwd});
    </insert>

    <sql id="userA">
        uid,uname,upwd
    </sql>

    <select id="queryUserAll" resultType="user">
        select
         <include refid="userA"></include>
         from t_user
    </select>

    <select id="checkByName" resultType="user">
        select * from t_user where uname=#{uname};
    </select>

    <select id="getRoleById" resultType="map">
        select kname,pname,codes from t_user a,t_user_role b,t_role c,t_role_permission d,permission e WHERE
a.uid=b.uid and b.rid=c.rid and c.rid=d.rid and d.pid=e.pid and a.uid=#{uid}
    </select>

</mapper>
